body {
  background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*taken from uigradient*/

  background-image: url(http://www.cjonline.com/storyimage/KS/20171209/SPORTS/312099974/AR/0/AR-312099974.jpg);
  background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1 {
  font-family: "Georgia", Times, serif;
  text-align: center;
  color: #DC143C;
}


p {
  font-family: "Georgia", Times, serif;
  color: #F0F8FF
}

a {
  color: #DC143C;
}

a:hover{
  color: #0000FF
}

h1:hover
{
  color: #0000FF
}
